@import "../../scss/var.scss";

.root {
  display: flex;
  flex-direction: column;
  .preloader {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    @include breakpoint($tablet-bp) {
      @include breakpoint($tablet-bp) {
        font-size: 6vw;
      }
    }
    position: relative;
    .svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .circ {
        fill: transparent;
        stroke: $black;
        stroke-width: 10;
        stroke-dasharray: 628;
        stroke-dashoffset: 0;
        animation: progress 4s infinite linear;
      }
    }
  }
  .text {
    color: $black;
    font-size: 5rem;
    margin-top: 2vw;
    @include breakpoint($tablet-bp) {
      font-size: 6vw;
    }
  }
}

@keyframes progress {
  50% {
    stroke-dashoffset: -628;
  }
  100% {
    stroke-dashoffset: -1256;
  }
}
