@import "../../scss/var.scss";

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
  background-color: $lighten;
  .logo {
    width: 50vw;
    max-width: 300px;
    height: auto;
    margin: auto;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 18vw;
  }
}
