$white: #fff;
$black: #1a1a1a;
$red: #ff3044;
$blue: #2688eb;
$gray: #949494;
$lighten: #efefef;

$tablet-bp: 991px;

@mixin breakpoint($bp) {
  @media screen and (max-width: $bp) {
    @content;
  }
}
